*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

form{
    display: grid;
    
    
}

.messages{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.question{
    color: aqua;
    align-self: flex-end;
    background-color: black;
}

.answers{
    color: orange;
    align-self: flex-start;
    background-color: #f1f5f9;
}